link(rel='icon', type='image/x-icon', href='/assets/images/favicon.ico')
meta(http-equiv='content-type', content='text/html;charset=UTF-8')
meta(charset='utf-8')
| &#x9; 
meta(http-equiv='X-UA-Compatible', content='IE=edge')
| &#x9;
meta(name='viewport', content='width=device-width, initial-scale=1')
| &#x9;
title NetherNet
| &#x9;
link(rel='icon', href='/assets/images/logo.svg', type='image/svg+xml')
// SEO
meta(property='og:site_name', content='')
| &#x9;
meta(property='og:title', content='')
| &#x9;
meta(name='twitter:card', content='summary')
| &#x9;
meta(property='og:locale', content='en')
| &#x9;
meta(property='og:type', content='website')
| &#x9;
meta(property='og:description', content='')
| &#x9;
meta(name='description', content='')
| &#x9;
meta(property='og:url', content='https://localhost/')
| &#x9;
meta(property='og:image', content='')
| &#x9;
meta(name='twitter:card', content='summary_large_image')
| &#x9;
link(rel='apple-touch-icon', sizes='180x180', href='#')
| &#x9;
link(rel='icon', type='image/png', sizes='32x32', href='https://demo.rade023.com/')
| &#x9;
link(rel='icon', type='image/png', sizes='16x16', href='#')
| &#x9;
link(rel='manifest', href='#')
| &#x9;
link(rel='mask-icon', href='#', color='#000000')
| &#x9;
link(rel='shortcut icon', href='#')
| &#x9;
meta(name='msapplication-TileColor', content='#000000')
| &#x9;
meta(name='msapplication-config', content='')
// End SEO
link(rel='stylesheet', type='text/css', href='/assets/css/bootstrap.min.css')
| &#x9;
link(href='/../../cdn.jsdelivr.net/gh/hung1001/font-awesome-pro%400ac23ca/css/all.css', rel='stylesheet', type='text/css')
// OWL Slider v2.3.4
link(rel='stylesheet', type='text/css', href='/assets/css/owl.carousel.min.css')
link(rel='stylesheet', type='text/css', href='/assets/css/owl.theme.default.min.css')
// Poppins
link(href='/assets/css/fonts.css', rel='stylesheet')
// Custom CSS
link(rel='stylesheet', type='text/css', href='/assets/css/custom.css')
| &#x9;
link(rel='stylesheet', type='text/css', href='/assets/css/animations.css')
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css')
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js')
