nav.navbar.bg-body-tertiary.shadow-sm.fixed-top
    div.container-fluid
        a.navbar-brand(href="/")
            img(src="/images/logo.png", alt="Logo", height="30")
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarNav
            ul.navbar-nav.ms-auto
                li.nav-item
                    a.nav-link.active(href="/") Home
                li.nav-item
                    a.nav-link(href="/about") About
                li.nav-item
                    a.nav-link(href="/contact") Contact