nav.navbar.bg-body-tertiary
    div.container-fluid
        a.navbar-brand(href="/")
            img.d-inline-block.align-text-top(src="/images/logo.png", alt="Logo", height="30")
            |   PopKern
        a.btn.btn-primary.ml-auto(href="/login") Login