h1 {
    font-size: 100px;
    text-align: center;
    /* margin-top: 200px; */
    /* color: #333; */
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-size: 20px;
    text-align: center;
    /* color: #333; */
}

a {
    text-decoration: none;
    color: #a0a0a0;
    font-size: large;
}